ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    
}

ul a {
    color: black;
}