.WineDetailPage {
    display: grid;
    margin: 60px;
    grid-template-areas: 
    'info img buy';
}

.description {
    grid-area: info;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: .5px solid rgba(185, 225, 37, 1);
}

.image {
    grid-area: img;
    display: flex;
    justify-content: center;
    max-width:400px;
    margin: 0 auto;
}

.wine-img {
    display: block;
    max-width:400px;
    max-height:450px;
    width: auto;
    height: auto;
}


.purchase {
    grid-area: buy;
    display: flex;
    justify-content: center;
    border: .5px solid rgba(185, 225, 37, 1);
    flex-direction: column;
    align-items: center;
}