.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.NavBar a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    width: 328px;
    justify-content: center;
}

.logo-img {
    background-size: contain;
    max-width: 100%;
    height: auto;
}

hr {
    height: .5px;
    background-color: rgba(185, 225, 37, 1);
    border: none;
}

.nav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;
}

.nav3 > p {
    font-style: italic;
}